# Compiled class file
*.class

# Log file
*.log
logs/
log.html

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

*.iml
.idea/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/